{% extends "packing_lists/base.html" %}
{% load static %}

{% block title %}{{ title }} - Packing Lists{% endblock %}

{% block page_header %}{{ title }}{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <ul class="form-field-errors">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.branch.label_tag }}
            {{ form.branch }}
            {% if form.branch.help_text %}
                <span class="helptext">{{ form.branch.help_text|safe }}</span>
            {% endif %}
            {% if form.branch.errors %}
                <ul class="form-field-errors">
                    {% for error in form.branch.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </p>
        <p>
            {{ form.event_type.label_tag }}
            {{ form.event_type }}
            {% if form.event_type.help_text %}
                <span class="helptext">{{ form.event_type.help_text|safe }}</span>
            {% endif %}
            {% if form.event_type.errors %}
                <ul class="form-field-errors">
                    {% for error in form.event_type.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </p>
        <p id="school-type-row" style="display:none;">
            {{ form.school_type.label_tag }}
            {{ form.school_type }}
            {% if form.school_type.help_text %}
                <span class="helptext">{{ form.school_type.help_text|safe }}</span>
            {% endif %}
        </p>
        <p id="assessment-type-row" style="display:none;">
            {{ form.assessment_type.label_tag }}
            {{ form.assessment_type }}
            {% if form.assessment_type.help_text %}
                <span class="helptext">{{ form.assessment_type.help_text|safe }}</span>
            {% endif %}
        </p>
        <p id="training-type-row" style="display:none;">
            {{ form.training_type.label_tag }}
            {{ form.training_type }}
            {% if form.training_type.help_text %}
                <span class="helptext">{{ form.training_type.help_text|safe }}</span>
            {% endif %}
        </p>
        <p id="school-row" style="display:none;">
            {{ form.school.label_tag }}
            {{ form.school }}
            {% if form.school.help_text %}
                <span class="helptext">{{ form.school.help_text|safe }}</span>
            {% endif %}
            {% if form.school.errors %}
                <ul class="form-field-errors">
                    {% for error in form.school.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </p>
        {% for field in form %}
            {% if field.name != 'branch' and field.name != 'event_type' and field.name != 'school_type' and field.name != 'assessment_type' and field.name != 'training_type' and field.name != 'school' %}
            <p>
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <span class="helptext">{{ field.help_text|safe }}</span>
                {% endif %}
                {% if field.errors %}
                    <ul class="form-field-errors">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </p>
            {% endif %}
        {% endfor %}
        <button type="submit" class="button success military">Save</button>
        <a href="{% if packing_list %}{% url 'view_packing_list' packing_list.id %}{% else %}{% url 'home' %}{% endif %}" class="button secondary">Cancel</a>
    </form>
    <div>
        <script src="{% static 'packing_lists/js/shared.js' %}"></script>
        <script src="{% static 'packing_lists/js/packing-list-form.js' %}"></script>
    </div>
{% endblock %}
